body{
    margin: 0;
    background-color: black;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    background-color: rgba(210, 210, 210, 0.2);
    padding: 50px;
}

.container *{
    margin-bottom: 20px;
}

button{
    padding: 10px;
    background-color: rgba(210, 210, 210);
    border: none;
}

.text{
    font-size: 30px;
    color: white;
}