#menu{
    background-color: black;
    display: flex;
    height: 70px;
    margin-left: 10px;
    align-items: center;
}

#menu a{
    padding: 5px;
    margin-right: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#menu a:hover{
    color: black;
    background-color: white;
    transition: 0.8s;
}

#container{
    display: flex;
}

body{
    margin: 0;
    background-color: black;
}

#available{
    background-color: white;
    margin: 0px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#rooms{
    font-size: 100px;
    border: 5px solid black;
    padding: 50px;
}

#available p{
    font-size: 40px;
}

#about{
    color: white;
    background-image: url(img/background_1.jpeg);
    padding: 20px;
    font-size: 25px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#hotel_rooms{
    background-color: white;
    padding: 1px 20px;
    width: 97.5%;
}

.rooms_container{
    display: flex;
    justify-content: space-around;
    height: 550px;
}

.rooms_container div{
    border: 3px solid black;
    text-align: center;
}

.rooms_container div img{
    width: 90%;
    border: 2px solid black;
    margin-bottom: 50px;
    height: 337px;
}

#second_container{
    margin-top: 30px;
    margin-bottom: 10px;
}

.book_btn{
    text-decoration: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    padding: 10px;
}


.rooms_container div img:hover{
    opacity: 0.4;
    transition: 0.8s;
}

#restaurant{
    background-image: url("img/restaurant_bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    color: white;
    width: 97.5%;
}

.food{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.food img{
    width: 19%;
    height: 200px;
}

#information{
    background-color: white;
    padding: 20px;
    width: 97.5%;
}

#map{
    display: block;
    margin-bottom: 20px;
}


#information a{
    margin-right: 20px;
}

@media (max-width: 980px){
    #container{
        display: block;
    }

    #available{
        width: 101%;
        margin-top: -10px;
    }

    #container img{
        width: 101%;
    }
}
