body{
    background-color: black;
    color: white;
}

#menu{
    background-color: black;
    margin-top: 20px;
}

#menu a{
    color: white;
    font-family: "Roboto Light";
    text-decoration: none;
    font-size: 30px;
    margin-left: 40px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#menu a:hover{
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.8s;
}

header{
    font-family: "Roboto Light";
    margin-left: 40px;
    margin-top: 40px;
    font-size: 30px;
}

article{
    background-color: #111111;
    font-family: "Roboto Light";
    font-size: 30px;
    padding: 30px 300px;
}

article img{
    margin: 40px auto;
    display: block;
    width: 50%;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer img{
    height: 60px;
    margin-left: 15px;
}

#last_logo{
    margin-left: -1px;
}

footer img:hover{
    transition: 0.3s;
    transform: scale(1.2);
}

@media (max-width: 1300px) and (min-width: 1150px) {
    article img{
        margin: 40px auto;
        display: block;
        width: 80%;
    }
}

@media (max-width: 1149px) and (min-width: 950px) {
    article{
        background-color: #111111;
        font-family: "Roboto Light";
        font-size: 30px;
        padding: 30px 200px;
    }

    article img{
        margin: 40px auto;
        display: block;
        width: 100%;
    }
}

@media (max-width: 949px) and (min-width: 780px){
    article{
        background-color: #111111;
        font-family: "Roboto Light";
        font-size: 30px;
        padding: 30px 150px;
    }

    article img{
        margin: 40px auto;
        display: block;
        width: 80%;
    }
}

@media (max-width: 779px){
    article{
        background-color: #111111;
        font-family: "Roboto Light";
        font-size: 30px;
        padding: 30px 150px;
    }

    article img{
        margin: 40px auto;
        display: block;
        width: 90%;
    }
}