body {
    background-color: black;
    color: white;
}

#menu {
    background-color: black;
    margin-top: 20px;
}

#menu a {
    color: white;
    font-family: "Roboto Light";
    text-decoration: none;
    font-size: 30px;
    margin-left: 40px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#menu a:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.8s;
}

header {
    font-family: "Roboto Light";
    margin-left: 40px;
    margin-top: 40px;
    font-size: 30px;
    text-shadow: 2px 2px 15px white;
}

#catalog {
    background-color: #111111;
}

#first_line {
    display: flex;
    justify-content: center;
}


#preview div {
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    font-family: "Roboto Light";
    font-size: 20px;
    font-weight: bold;
}



#second_line {
    display: flex;
    justify-content: center;
}

.card {
    display: inline-block;
    background-color: black;
    text-align: center;
    margin: 30px;
    width: 30%;
}

.animal_name {
    font-family: "Roboto Light";
    font-size: 25px;
}

.latin_name {
    font-family: "Roboto Light";
    font-size: 18px;
    color: #6e6e6e;
}

.price {
    font-family: "Roboto Light";
    font-size: 23px;
    color: #e6ff4e;
}

#main {
    text-align: center;
}

.card img {
    width: 100%;
    height: 300px;
}

@media (max-width: 1150px) and (min-width: 980px) {
    .card img {
        width: 100%;
        height: 200px;
    }
}



