body {
    background-color: black;
    color: white;
}

#menu {
    background-color: black;
    margin-top: 20px;
}

#menu a {
    color: white;
    font-family: "Roboto Light";
    text-decoration: none;
    font-size: 30px;
    margin-left: 40px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#menu a:hover {
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    transition: 0.8s;
}

header {
    font-family: "Roboto Light";
    margin-left: 40px;
    margin-top: 40px;
    font-size: 30px;
    text-shadow: 2px 2px 15px white;
}

#products{
    background-color: #111111;
    text-align: center;
}

.card{
    background-color: #111111;
    display: inline-block;
    border: 2px white solid;
    text-align: center;
    padding: 20px;
    box-shadow: #e6ff4e 0px 0px 20px;
    margin: 30px;
    width: 300px;
}

.name{
    font-size: 25px;
    font-family: "Roboto Light";
}

.color{
    font-size: 20px;
    font-family: "Roboto Light";
}

.article{
    font-size: 17px;
    font-family: "Roboto Light";
}

.price{
    font-family: "Roboto Light";
    font-size: 20px;
    color: #e6ff4e;
}

.select{
    display: inline-block;
    font-size: 15px;
    font-family: "Roboto Light";
}

input{
    display: inline-block;
}

footer{
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
}

footer img{
    height: 60px;
    margin-left: 15px;
}

#last_logo{
    margin-left: -1px;
}

footer img:hover{
    transition: 0.3s;
    transform: scale(1.2);
}