@font-face {
    font-family: "Coder's Crux";
    src: url(../fonts/CodersCrux.woff) format('woff');
}

body{
    width: 640px;
    height: 316px;
    border: 2px solid black;
    font-family: "Coder's Crux";
}


.toolbar{
    width: 264px;
    height: 16px;
}

#up_toolbar{
    display: flex;
    height: 16px;
    padding-bottom: 0px;
    border-bottom: 2px solid black;
}

#left_corner_selector{
    width: 18px;
    padding: 3px;
    display: inline-block;
}

#left_corner_selector div{
    width: 12px;
    height: 2px;
    background-color: black;
    margin: 0px auto 2px auto;
}

#header{
    font-family: "Coder's Crux";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    padding: 3px 21px;
    background-color: black;
    color: white;
}

#right_corner_selector{
    width: 18px;
    border: 3px black solid;
}

#right_corner_selector div{
    border: 3px black solid;
    width: 4px;
    height: 2px;
    top: 5px;
    position: relative;
    left: -1px;
}

#menu{
    border-bottom: 2px solid black;
    font-family: "Coder's Crux";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

#menu span{
    display: inline-block;
    margin: 4px 0px 2px 15px;
}

#icon_menu{
    background-color: black;
    width: 640px;
    height: 35px;
}

#container{
    display: flex;
    width: 310px;
    height: 35px;
}

#menu_selector{
    width: 20px;
    padding: 13px 3px;
}

#menu_selector div{
    background-color: white;
    width: 12px;
    height: 2px;
    margin-bottom: 2px;
}

#pointer{
    padding: 7px 9px 5px 7px;
    background-color: #5757FF;
    margin-bottom: 1px;
}

#pointer img{
    height: 22px;
}

.icons{
    padding: 7px 2px 5px 9px;
}

.icons img{
    height: 22px;
}

#menu_text{
    position: relative;
    left: 460px;
    top: -20px;
}

#main{
    display: flex;
    height: 245px;
}

#left_panel{
    width: 119px;
    border-right: 1px black solid;
}

#canvas{
    width: 369px;
}

#right_panel{
    width: 150px;
    border-left: 1px solid black;
}

#top_tab{
    padding: 7px 10px 4px 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid black;
}

#pages_tab{
    padding: 7px 0px 5px 8px;
    border-bottom: 1px solid black;
}

#plus{
    display: inline-block;
    position: relative;
    top: -2px;
}

#plus div{
    width: 9px;
    height: 1px;
    background-color: black;
}

#logo_card{
    padding: 6px 50px 2px 8px;
    border-bottom: 1px solid black;

}

#hashtag div{
    width: 9px;
    height: 1px;
    background-color: black;
}

#hashtag{
    position: relative;
    top: 5px;
}

#bottom_tab{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FF57FF;
}

#bottom_tab img{
    width: 7px;
    margin-top: 5px;
    margin-left: 8px;
}

#bottom_tab div{
    padding-left: 23px;
}

.pink_rect{
    display: inline-block;
    width: 9px;
    height: 6px;
    border: 1px solid #FF57FF;
    margin-top: 3px;
}

#canvas{
    background-color: #5757FF;
}

#canvas_rect{
    background-color: white;
    width: 128px;
    height: 87px;
    margin: 73px 127px 89px 112px;
    border: 2px solid black;
    outline: 2px solid white;
}

#blue_rect{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #5757FF;
}

#eye{
    width: 10px;
    height: 7px;
    margin-left: 25px;
}

#publish_btn{
    font-size: 18px;
    display: inline-block;
    margin: 0px auto;
}

.btn{
    padding: 4px 4px 2px 4px;
    border: 2px solid black;
    border-radius: 5px;
}

.btn:hover{
    border: 3px solid black;
}

.btn:active > div{
    border-bottom: 1px black solid;
}

.color_pickers{
    margin-top: 7px;
}

.color{
    border-radius: 20px;
    display: inline-block;
    width: 12px;
    height: 12px;
    vertical-align: middle;
}